
@*@using IWSProject.Content;
@{
    ViewBag.Title = IWSLocalResource.DataImportation;
}

<h2>@ViewBag.Title</h2>

<br/><br /><br />

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <input type="file" name="upload" />
        <input type="submit" value="Upload" />
    </div>
}*@

