
@using IWSProject.Models
@model SetLogoViewModel

@using IWSProject.Content

<div class="accountHeader">
   <h2>@IWSLocalResource.SetLogo </h2>
</div>

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

<script type="text/javascript">
    function OnFilesUploadComplete(s, e) {
        var data = e.callbackData.split('|');
        for (var i = 0; i < data.length; i += 2) {
            var file = data[i];
            var url = data[i + 1];
            var link = document.createElement('A');
            link.innerHTML = file;
            link.setAttribute('href', url);
            link.setAttribute('target', '_blank');
            var fileContainer = document.getElementById('fileContainer');
            fileContainer.appendChild(link);
            fileContainer.appendChild(document.createElement('BR'));
        }
    }
</script>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.DevExpress().FormLayout(settings =>
   {
   settings.Name = "formSetLogo";

   settings.Items.AddGroupItem(group =>
   {
   group.Caption = IWSLocalResource.CompanyInfo;
   group.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;

   group.Items.Add(combo =>
   {
       combo.Name = "CompanyID";
       combo.Caption = IWSLocalResource.company;
       combo.NestedExtension().ComboBox(s =>
       {
           s.Properties.TextField = "Name";
           s.Properties.ValueField = "Name";
           s.Properties.ValueType = typeof(string);
           //s.Properties.DataSource = ViewData["Companies"];
           s.Properties.DataSource = IWSLookUp.GetCompanies(); //ViewData["Companies"];
           s.Properties.Columns.Add("id").Caption = IWSLocalResource.id;
           s.Properties.Columns.Add("name").Caption = IWSLocalResource.company;
           s.Properties.DropDownStyle = DropDownStyle.DropDownList;
       });
   });

   //group.Items.Add(button =>
   //{
   //    button.Name = "btnLogo";

   //    button.Caption = "  ";
   //    button.NestedExtension().Button(b =>
   //    {
   //        b.Text = IWSLocalResource.ChooseLogo;
   //    });
   //});
    @**@
//    @using(Html.BeginForm("UploadControlUpload", "Home"))
//{
//        @Html.DevExpress().UploadControl(settings =>
//        {
//            settings.Name = "UploadControl";
//            settings.ShowUploadButton = true;
//            settings.ShowProgressPanel = true;
//            settings.AdvancedModeSettings.EnableMultiSelect = true;
//            settings.AdvancedModeSettings.EnableFileList = true;
//            settings.AdvancedModeSettings.EnableDragAndDrop = true;
//            settings.UploadMode = DevExpress.Web.UploadControlUploadMode.Advanced;
//            settings.ValidationSettings.Assign(MyUploadControlValidationSettings.Settings);
//            settings.ClientSideEvents.FilesUploadComplete = "OnFilesUploadComplete";
//        }).GetHtml()
//}
    @**@
        group.Items.Add(upload =>
        {
            upload.Name = "UploadControl";
            upload.NestedExtension().UploadControl(u =>
            {
                u.ShowTextBox = true;
                u.ShowUploadButton = true;
                u.ShowProgressPanel = true;
                u.AdvancedModeSettings.EnableDragAndDrop = true;
                u.UploadMode = UploadControlUploadMode.Advanced;
                u.ValidationSettings.Assign(IWSProject.Models.IWSLookUp.Settings);
                u.ClientSideEvents.FileUploadComplete = "OnFilesUploadComplete";
            });

        });

    });

       settings.Items.AddGroupItem(group =>
       {
           group.Caption = IWSLocalResource.CompanyLogo;
           group.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
           group.Items.Add(picture =>
           {
               picture.Name = "LogoBinary";
               picture.Caption = "";
               picture.NestedExtension().BinaryImage(b =>
               {

               });
           });

       });

       settings.Items.AddGroupItem(group =>
       {
           group.Caption = "  ";
           group.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
           group.Items.Add(i =>
           {
               i.Caption = "  ";
               i.NestedExtension().Button(b =>
               {
                   b.Name = "signUp";
                   b.Text = IWSLocalResource.Validate;
                   b.UseSubmitBehavior = true;
                   b.Width = Unit.Pixel(120);
               });
           });
       });

   }).GetHtml()
}